{% extends "blog/base.html" %}
{% block content %}
    <h2>Features</h2>
    <p>Blog-style, different users can write different posts</p>
    <p>Fully-featured authentication system using email</p>
    <p>Forgot password functionality</p>
    <p>Encrypted passwords using PBKDF2 algorithm with a SHA256 hash, so unencrypted passwords are never stored</p>
    <p>Custom profile picture functionality, resized in server-side to save storage</p>
    <p>Update and delete post functionality</p>
    <p>Secure webserver with HTTPS</p>
    <p>Admin page for users with enough permissions</p>
{% endblock content %}
